contracts/InstantiationVerifier.sol
contracts/TransitionVerifier.sol
contracts/TerminationVerifier.sol
test/proofs.json
build
node_modules

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
